section.logo
  img.logo__image(src="./assets/images/isotipo.svg", alt="Isotipo ErwCode")
  h1.logo__title #[span Webpack] Starter Kit
  .logo__brands
    img(src="./assets/images/webpack.svg", alt="Logo de Webpack")
    img(src="./assets/images/pug.svg", alt="Logo de PUG")
    img(src="./assets/images/sass.svg", alt="Logo de SASS")
    img(src="./assets/images/postcss.svg", alt="Logo de PostCSS")
    img(src="./assets/images/babel.svg", alt="Logo de Babel")
  span.logo__copy Made with 💖 by #[a.logo__link(href="https://erwcode.com", target="_blank", rel="follow noopener noreferrer") ErwCode Technologies]
